<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cap.mapper.CommentMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.cap.pojo.Comment">
        <id column="comment_id" property="commentId" />
        <result column="user_id" property="userId" />
        <result column="entry_id" property="entryId" />
        <result column="liked_num" property="likedNum" />
        <result column="es_id" property="esId" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        comment_id, user_id, entry_id, liked_num, es_id
    </sql>

</mapper>
