<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cap.mapper.InfoLikeMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.cap.pojo.InfoLike">
        <id column="info_like_id" property="infoLikeId" />
        <result column="user_id" property="userId" />
        <result column="content_id" property="contentId" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        info_like_id, user_id, content_id
    </sql>

</mapper>
