<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cap.mapper.InfoContentMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.cap.pojo.InfoContent">
        <id column="info_content_id" property="infoContentId" />
        <result column="info_id" property="infoId" />
        <result column="user_id" property="userId" />
        <result column="content" property="content" />
        <result column="like_num" property="likeNum" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        info_content_id, info_id, user_id, content, like_num
    </sql>
    <select id="getById" resultType="com.cap.dto.InfoContentDTO">
        select *,
               (select count(*) from info_like i where i.user_id = #{userId} and i.content_id = ic.info_content_id) as sign
        from info_content as ic
        where info_id = #{infoId}
    </select>
</mapper>
